<section class="about">
  <div class="conteiner">
    <div class="about-conteiner">
      <h2 class="about__title">ABOUT</h2>
      <img class="about__img" src="#" alt="" />
      <p class="about__description">
        When it comes to gear of any type, everyday carry or otherwise, the bag
        category is one of the most ubiquitous. After all, most humans need a
        means of transporting items from one place to another — be that your
        mobile technology, school books, food, supplies, or whatever else. And
        there’s no denying the usefulness of a traditional backpack therein. As
        a result, bags are probably one of the most commonly available pieces of
        EDC gear, second perhaps only to wallets. So we design the NEO Everyday
        Carry Bags for you in that regard. Whether you’re a city slicker with a
        flair for technology or a mountain man walking from cabin to campfire,
        NEO Everyday Carry Bags are ideal for your daily life.
      </p>

      <a href="#"
        >READ MORE
        <svg class="read-more-arrow">
          <use href="#"></use></svg
      ></a>
    </div>
  </div>
</section>
