<section class="footer">
  <div class="conteiner">
    <div class="footer-conteiner">
      <a class="footer-logo-icon logo-icon" href="./index.html"
        ><svg>
          <use href="#"></use></svg
      ></a>
      <ul class="pages-list">
        <li class="pages-list__item">
          <a href="#" class="page-list__item--link">ABOUT</a>
        </li>
        <li class="pages-list__item">
          <a href="#" class="page-list__item--link">SHOP</a>
        </li>
        <li class="pages-list__item">
          <a href="#" class="page-list__item--link">CONTACTS</a>
        </li>
        <li class="pages-list__item">
          <a href="#" class="page-list__item--link">SEARCH</a>
        </li>
        <li class="pages-list__item">
          <a href="#" class="page-list__item--link">PROFILE</a>
        </li>
      </ul>
      <ul class="links-list">
        <li class="links-list__item">
          <a href="#" class="links-list__item--link">YOUTUBE</a>
        </li>
        <li class="links-list__item">
          <a href="#" class="links-list__item--link">FACEBOOK</a>
        </li>
        <li class="links-list__item">
          <a href="#" class="links-list__item--link">INSTAGRAM</a>
        </li>
      </ul>
      <form>
        <input type="email" />
        <button type="submit"></button>
      </form>
      <p class="description">Ⓒ 2022 NIID. ALL RIGHTS RESERVED</p>
    </div>
  </div>
</section>
