<section class="minimalistic-design">
  <div class="conteiner">
    <div class="minimalistic-conteiner">
      <h2 class="title">/ MINIMALISTIC DESIGN</h2>
      <div class="product-list">
        <p class="product-list__item">
          ADJUSTABLE HANDLE
          <svg class="product-list__item--arrow">
            <use href="#"></use>
          </svg>
        </p>
        <p class="product-list__item">
          REMOVABLE STRAP
          <svg class="product-list__item--arrow">
            <use href="#"></use>
          </svg>
        </p>
        <p class="product-list__item">
          STEALTH ZIP POCKET
          <svg class="product-list__item--arrow">
            <use href="#"></use>
          </svg>
        </p>
        <p class="product-list__item">
          MAGNETIC POCKET
          <svg class="product-list__item--arrow">
            <use href="#"></use>
          </svg>
        </p>
      </div>
      <img src="#" alt="bag" />
      <p class="description">
        <a class="description__link" href="#"
          >VIEW IN SHOP<svg class="description__link--arrow">
            <use href="#"></use></svg
        ></a>
      </p>
    </div>
  </div>
</section>
